
.category-container h3 { background-color: #0a9ffb; padding: 10px; font-size: 20px; font-weight: 400; color: #fff; margin: -16px; margin-bottom: 0; }
.category-container .list-group-item { padding: .75rem .2rem; }
.category-container .list-group-item a{color: #777}

.product-category h4 { font-weight: 700; color: #595757; }